doctype html
head
  title Flunkyballsimulator
  meta(charset='UTF-8')
  link(href='css/bootstrap-theme.css' rel='stylesheet' type='text/css')
  link(href='css/bootstrap.css' rel='stylesheet' type='text/css')
  link(href='css/custom.css' rel='stylesheet' type='text/css')
.row
  .col-md-2
    .btn-group-vertical
      button#aufbaubutton.btn.btn-info Aufbauen
      button#wurfbutton.btn.btn-info Werfen
  #mainvideobox.col-md-10
    video#treffervideo.fluidvideo(src='video/hit/treffer3.webm') Getroffen!
    video#keintreffervideo.fluidvideo(src='video/nohit/keintreffer1.webm') Nicht getroffen!
    video#aufbauvideo.fluidvideo(src='video/preperation/aufstellen.webm') Wird aufgebaut...
    video#stopvideo.fluidvideo(src='video/stop/stop.webm') Stop!
// Optional JavaScript
script(src='js/jquery-2.2.4.js' type='text/javascript')
script(src='js/bootstrap.min.js' type='text/javascript')
// Main client-side JavaScript
script(src='js/client.js' type='text/javascript')
