/* 
    Created on : Mar 22, 2020, 8:21:12 PM
    Author     : jan
*/
.fluidvideo {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

#mainvideobox {
    padding-left: 0px;
    padding-right: 0px;

}

.box {
    padding: 10px;
}
