/* 
    Created on : Mar 22, 2020, 8:21:12 PM
    Author     : jan
*/
body {
    background: #CFD8DC;
}

.video, .poster, .logoposter {
    /* override other styles to make responsive */
    width: 100% !important;
    height: auto !important;
}

.highlight {
    box-shadow: 0 0 10px red;
}


.mirroredvideo {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

#mainvideobox {
    padding-left: 0px;
    padding-right: 0px;
}

.box {
    padding: 10px;
}

.vspace {
    margin-top: 10px;
    margin-bottom: 10px;
}

.vspace-small {
    margin-top: 2px;
    margin-bottom: 2px;
}

.statearea .namebutton {
    width: 3%;
}

.largetext, .largetext .form-control, .largetext .btn {
    font-size: 25px !important;
}

.flashingbackground {
  animation: colorchange 2s infinite;
}

@keyframes colorchange
{
  0%   {background: #f5f5f5;}
  50%  {background: #EF5350;}
  100% {background: #f5f5f5;}
}

.egoplayer {
    font-weight: bold;
}

.glyphicon-steinie {
    background-image: url("/picture/steinie.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 0.5em;
    float: right;
    margin-top: 1px;
    margin-left: 2px;
    margin-bottom: 6px;
}

.smaller-font {
    font-size: smaller;
}

/* MODAL Stuff from https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}