doctype html
head
    title Flunkyballsimulator
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='css/bootstrap-theme.css' rel='stylesheet' type='text/css')
    link(href='css/bootstrap.css' rel='stylesheet' type='text/css')
    link(href='css/custom.css' rel='stylesheet' type='text/css')
.container-fluid
    .row
        .col-md-2
            .box
                .row
                    .col-md-12
                        h2 Aktionen
                        .box
                            .btn-group-vertical
                                button#softthrowbutton.btn.btn-default Vorsichtig werfen
                                button#mediumthrowbutton.btn.btn-default Werfen
                                button#hardthrowbutton.btn.btn-default Kräftig werfen
                .row
                    .col-md-12.hidden-xs
                        h2 Notizen
                        textarea.form-control(rows=15)
        .col-md-7
            .box
                .btn-group.btn-group-lg.btn-group-centered(role='group')
                    button#teamadisplay.btn Linke Mannschaft
                    button#teambdisplay.btn Rechte Mannschaft 
            #mainvideobox
                    video.hit.video1.video(src='video/hit/jonas1.webm' preload='auto') Getroffen!
                    video.hit.video2.video(src='video/hit/stefan1.webm' preload='auto') Getroffen!
                    video.hit.video3.video(src='video/hit/elisa1.webm' preload='auto') Getroffen!
                    video.hit.video4.video(src='video/hit/jonas2.webm' preload='auto') Getroffen!
                    video.nohit.video1.video(src='video/nohit/jonas1.webm') Nicht getroffen!
                    video.nohit.video2.video(src='video/nohit/stefan1.webm') Nicht getroffen!
                    video.nohit.video3.video(src='video/nohit/stefan2.webm') Nicht getroffen!
                    video.nohit.video4.video(src='video/nohit/elisa1.webm') Nicht getroffen!
                    video.nohit.video5.video(src='video/nohit/elisa2.webm') Nicht getroffen!
                    video.nohit.video6.video(src='video/nohit/elisa3.webm') Nicht getroffen!
                    video.nohit.video7.video(src='video/nohit/elisa4.webm') Nicht getroffen!
                    video.closenohit.video1.video(src='video/closenohit/elisa1.webm') Nicht getroffen!
                    video.preparation.video1.video(src='video/preparation/jonas1.webm') Wird aufgebaut...
                    video.stop.video1.video(src='video/stop/jan1.webm' preload='auto') Stop!
        .col-md-3.hidden-xs
            .box
                h2 Chat (deaktiviert)
                .box
                    .form-group
                        label(for="username") Benutzername
                        input#username.form-control(type="text" placeholder="Jesus")
                    button.btn.btn-default Benutzernamen ändern
                textarea.form-control(rows=15)
// Optional JavaScript
script(src='js/jquery-2.2.4.js' type='text/javascript')
script(src='js/bootstrap.min.js' type='text/javascript')
// Main client-side JavaScript
script(src='js/main.js' type='text/javascript')
