/* 
    Created on : Mar 22, 2020, 8:21:12 PM
    Author     : jan
*/
.video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}
.mirroredvideo {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

#mainvideobox {
    padding-left: 0px;
    padding-right: 0px;

}

.box {
    padding: 10px;
}

.vspace {
    padding-top: 2px;
    padding-bottom: 2px;
}

.statearea .namebutton {
    width: 3%;
}